body{
    background-color: gray;
    color: green;
}
.ola{
    border-radius: 50px;
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

h2{
    display: inline;
    color:black;
}
.manquerox{
    position: absolute;
}
.x{
  position: absolute;
  padding: left 5rem;
  color: white;

}
.x2{
    position: absolute;
    padding: left 5rem;
    color: white;
}
.x2{
    padding-top: 14rem;

}
